
@import 'core/variables';

@import 'layout/header';
@import 'layout/sections';
@import 'layout/footer';

@import 'components/buttons';
@import 'components/typography';

body {
	margin: 0;
	font-family: $font-text;
	line-height: 30px;
}
