<footer class="page__footer">
    <div class="btn_container">
        <a href="#header">
        <button class="btn_arrow"><img class="btn_arrow-img" src="assets/images/ico-arrow.svg" alt="icono boton flecha, enlaza con principio de página"></button></a>
    </div>
    <div class="footer_container">
        <ul class="sections_list">
            <li class="sections_item">articles</li>
            <li class="sections_item">books</li>
            <li class="sections_item">events</li>
            <li class="sections_item">reasons</li>
            <li class="sections_item">tips</li>
        </ul>
        <ul class="social_list">
            <li class="social_item">twitter</li>
            <li class="social_item">instagram</li>
            <li class="social_item">mastodon.social</li>
        </ul>
        <div class="copy_container">
            <p class="copy_text">©2017</p>
            <p class="copy_text">we <span class="heart">❤︎</span> components</p>
        </div> 
    </div>
</footer>