<header class="page__header">
    <div class="page__hero">
        <div class="hero_image"></div>
        <div class="hero_main">
            <div class="hero_text">
                <h1 class="hero_text-title">anonymous proxy</h1>
                <p class="hero_text-main">Lorem ipsum dolor sit amet.</p>
            </div>
                <button class="btn_scroll">
                    <img class="btn_scroll-img" src="../../assets/images/ico-scroll-down.svg" alt="icono boton scroll, enlaza con la siguiente seccion">
                </button>
        </div>
        <div class="btn_menu-container">
                <button class="btn_menu">
                    <img class="btn_menu-img" src="../../assets/images/ico-menu.svg" alt="icono boton menu">
                </button>
        </div>
    </div>
</header>
