<header class="page__header">
    <div class="hero_image"></div>
    <div class="hero_text">
        <h1 class="hero_text-title">anonymous proxy</h1>
        <p class="hero_text-main">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="btn_menu">
        <button class="btn_menu-item">
            <img src="../../assets/images/ico-menu.svg" alt="icono boton menu">
        </button>
    </div>
    <div class="btn_scroll">
        <button class="btn_scroll-item"> <img src="../../assets/images/ico-scroll-down.svg" alt="icono boton scroll, enlaza con la siguiente seccion"></button>
    </div>
</header>
