<main class="page__main">
    <section class="section_window">
        <small class="window_text-small">insomnia tips</small>
        <h2 class="window_text-title">looking through a window</h2>
        <p class="window_text-main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed totam laudantium ipsum voluptatibus enim fugit dolorem sit, atque ipsam. Vel expedita id ipsam quidem quia molestias voluptas vitae odit libero!</p>
        <button class="btn_go"></button>
    </section>
    <section class="section_reasons">
        <h2 class="reasons_text-title">3 reasons to purchase</h2>
        <ul class="reasons_list">
            <li class="reasons_item">
                <h3 class="reasons_item_title">Lorem, ipsum dolor.</h3>
                <p class="reasons_item_text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
            <li class="reasons_item">
                <h3 class="reasons_item_title">Lorem, ipsum dolor.</h3>
                <p class="reasons_item_text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
            <li class="reasons_item">
                <h3 class="reasons_item_title">Lorem, ipsum dolor.</h3>
                <p class="reasons_item_text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </li>
        </ul>
        <button class="btn_more"></button>
    </section>
</main>
