.page__footer {
    margin:0;
    background: $color05;
}

.footer_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}

.sections_list {
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
    color: $color02;
}

.sections_item {
    text-transform: uppercase;
}

.social_list {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
    color: $color02;
}

.social_item {
    text-transform: uppercase;
}

.copy_container {
    margin: 30px 0 45px;
    color: $color02;
    font-size: $size-footer_mobile;
}

.copy_text {
    margin: 0;
}

.heart {
    color: $color01;
}

.btn_arrow {
    height: 45px;
    width: 45px;
    border-style: none;
    background: $color02;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.btn_container {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
   }