.page__hero {
    background-image: url("../../assets/images/cover.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.hero_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 15px 53px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
}

.hero_text-title {
    margin: 0 0 10px;
    font-family: $font-title;
    font-size: 42px;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.31;
}

.hero_text-main {
    margin: 0;
    color: $color-white;
}

.btn_menu-container {
    position: fixed;
    top: 0;
    left: 0;
}

.btn_menu {
    height: 44px;
    width: 44px;
    background: $color-blue;
    border-style: none;
    display: flex;
    justify-content: center;
}

.btn_scroll {
    height: 45px;
    width: 45px;
    border-style: none;
    border-radius: 50%;
    background: $color-white;
    display: flex;
    justify-content: center;
}