.page__hero {
    background-image: url("../../assets/images/cover.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.hero_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 15px 53px;

    @media all and (min-width: 768px) {
        margin-bottom: 45px;
    }
    @media all and (min-width: 1200px) {
        margin-bottom: 13px;
    }
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;

    @media all and (min-width: 768px) {
        margin-bottom: 30px;
    }
}

.hero_text-title {
    margin: 0 0 10px;
    font-family: $font-title;
    font-size: $size-h1_mobile;
    color: $color02;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 55px;

    @media all and (min-width: 768px) {
        font-size: $size-h1_tablet;
        line-height: 106px;
    }
    @media all and (min-width: 1200px) {
        font-size: $size-h1_desktop;
        line-height: 132px;
        width: 730px;
    }
}

.hero_text-main {
    margin: 0;
    color: $color02;

    @media all and (min-width: 768px) {
        font-size: $size-h2_mobile;
    }
}

.btn_menu-container {
    position: fixed;
    top: 0;
    left: 0;
}

.btn_menu {
    height: 44px;
    width: 44px;
    background: $color04;
    border-style: none;
    display: flex;
    justify-content: center;
}

.btn_scroll {
    height: 45px;
    width: 45px;
    border-style: none;
    border-radius: 50%;
    background: $color02;
    display: flex;
    justify-content: center;
}