.main_wrapper {
    margin: 0 15px;
}

.section_window {
    background: $color-white;
    margin-top: 30px;
}

.window_text-small {
    display: inline-block;
    height: 30px;
    font-size: 14px;
    text-transform: capitalize;
    color: $color-lightblue;
}

.window_text-title {
    margin: 0;
    padding-bottom: 15px;
    font-size: 24px;
    text-transform: capitalize;
    font-family: $font-title;
    font-weight: bold;
    width: 290px;
}

.window_text-main {
    margin: 0;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 30px;
    width: 290px;
}

.btn_go {
    margin: 30px 0 45px;
    width: 76px;
    height: 45px;
    border-style: none;
    border: 2px solid $color-btn;
    border-radius: 20px;
    background: $color-white;
    font-size: 20px;
    color: $color-btn;
    text-transform: capitalize;
    font-family: $font-main;
    text-align: center;
}

