.page_main {
    margin: 0;
}

.section_window {
    background: $color-white;
    margin-top: 30px;
    padding: 0 15px;
}

.window_text-small {
    display: inline-block;
    text-align: center;
    height: 30px;
    font-size: 14px;
    text-transform: capitalize;
    color: $color-lightblue;
}

.window_text-title {
    margin: 0;
    padding-bottom: 15px;
    font-size: 24px;
    text-transform: capitalize;
    font-family: $font-title;
    font-weight: bold;
    width: 290px;
}

.window_text-main {
    margin: 0;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 30px;
    width: 290px;
}

.btn_go {
    margin: 30px 0 45px;
    width: 76px;
    height: 45px;
    border-style: none;
    border: 2px solid $color-btn;
    border-radius: 20px;
    background: $color-white;
    font-size: $size-btn_mobile;
    color: $color-btn;
    text-transform: capitalize;
    font-family: $font-main;
    text-align: center;
}

.section_reasons {
    background: #eff9ff;
}

.section_reasons_wrapper {
    padding: 30px 0 60px;
    text-align: center;
}

.reasons_text-title {
    margin: 0;
    font-family: $font-title;
    font-size: $size-h2_mobile;
    text-transform: capitalize;
}

.reasons_list {
    list-style: none;
    margin: 45px 70px 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 45px;
    text-align: center;
}

.reasons_item_title {
    margin: 0;
    font-size: 18px;
    font-family: $font-title;
    display: inline-block;
    height: 30px;
    
}

.reasons_item_text {
    margin: 0;
    font-size: $size-h3_mobile;
}

.btn_more {
    height: 45px;
    width: 100%;
    border-style: none;
    background: $color01;
    border-radius: 20px;
    color: $color02;
    font-size: $size-btn_mobile;
}

