//COLOR PALETTE

$color01: #f26002;
$color02: white;
$color03: #8ccbea;
$color04: #0271bc;
$color05: #304268;

$color-black: black;


//FONT FAMILY
$font-text: 'Roboto', sans-serif;
$font-title: 'Roboto Slab', serif;


//FONT SIZE
$size-h1_mobile: 42px;
$size-h2_mobile: 24px;
$size-h3_mobile: 18px;
$size-text_mobile: 18px;
$size-footer_mobile: 14px;

$size-h1_tablet: 80px;
$size-h2_tablet: 26px;
$size-text_tablet: 20px;

$size-h1_desktop: 100px;
$size-h2_desktop: 32px;



//BUTTONS
$size-btn_mobile: 20px;
$radius-btn: 22.5px;